@import './lib/assets/fonts/poppins-font/stylesheet.css';
@import './lib/assets/fonts/inter-font/stylesheet.css';
@import './lib/assets/fonts/nova-font/stylesheet.css';


/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


